<label>Cor</label>
<div class="form-group">
  <i {{action 'select' 'bg-primary'}} class="fa fa-circle text-primary teste"></i>
  <i {{action 'select' 'bg-secondary'}} class="fa fa-circle text-secondary teste"></i>
  <i {{action 'select' 'bg-success'}} class="fa fa-circle text-success teste"></i>
  <i {{action 'select' 'bg-danger'}} class="fa fa-circle text-danger teste"></i>
  <i {{action 'select' 'bg-warning'}} class="fa fa-circle text-warning teste"></i>
  <i {{action 'select' 'bg-info'}} class="fa fa-circle text-info teste"></i>
  <i {{action 'select' 'bg-dark'}} class="fa fa-circle text-dark teste"></i>
  <i {{action 'select' 'bg-muted'}} class="fa fa-circle text-muted teste"></i>
</div>
