{{#if session.isAuthenticated}}
  {{application-header session=session user=model.user}}
{{else}}
  <div class="section section-login">
    <div class="mystyle-signin-box">
      <h1 class="login-title">
      Seja Bem-Vindo
    </h1>
      <div class="white-box">
        <div class="social-login-block">
          <div class="sign-in-with">
            Selecione a opção desejada
          </div>
          <div class="social-login clearfix">
            <a class="login-google" {{action "signIn" "google" model}}>
              <i class="fa fa-google"></i> Google
            </a>
            <a class="login-facebook" {{action "signIn" "facebook" model}}>
              <i class="fa fa-facebook"></i> Facebook
            </a>
            <button class="btn btn-outline-secondary create-company" data-toggle="modal" data-target="#company">
               Criar Nova Empresa
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{form-company model=model signIn="signIn"}}
{{/if}}
